In [36]:
import pandas as pd
# This script reads a CSV file named 'salaryData.csv' and displays the first few rows of the DataFrame.
df = pd.read_csv("C:\\Users\\kayce\\Downloads\\salaryData.csv")

df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [37]:
# Display the shape of the DataFrame` is providing a description or explanation of the code that follows it. In this case, it indicates that the code below it will display the number of rows and columns in the DataFrame using the `shape` attribute.
# Display the shape of the DataFrame
# This will show the number of rows and columns in the DataFrame.
df.shape

(375, 6)

In [38]:
# Display summary statistics of the DataFrame
# This will provide a statistical summary of the numerical columns in the DataFrame.
df.describe()

              Age  Years of Experience         Salary
count  373.000000           373.000000     373.000000
mean    37.431635            10.030831  100577.345845
std      7.069073             6.557007   48240.013482
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.000000             9.000000   95000.000000
75%     44.000000            15.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [39]:
# Display the number of missing values in each column
# This will help identify if there are any columns with missing data.
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [40]:
#This line drops any rows with missing values from the DataFrame.
df = df.dropna()

In [41]:
df.isnull().sum()
#this will confirm that there are no more missing values in the DataFrame after dropping them.

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [42]:
df.describe()  
# This will provide a new statistical summary of the DataFrame after dropping missing values.

              Age  Years of Experience         Salary
count  373.000000           373.000000     373.000000
mean    37.431635            10.030831  100577.345845
std      7.069073             6.557007   48240.013482
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.000000             9.000000   95000.000000
75%     44.000000            15.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [43]:
df.head()  
# Display the first few rows of the DataFrame again to see the changes after dropping missing values.

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [44]:
df.dtypes 
# This will show the data types of each column in the DataFrame.

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [45]:
df['Job Title'].value_counts() 
# This will count the occurrences of each unique job title in the 'Job Title' column.

Job Title
Director of Marketing             12
Director of Operations            11
Senior Business Analyst           10
Senior Marketing Manager           9
Senior Marketing Analyst           9
                                  ..
Junior Social Media Specialist     1
Junior Operations Coordinator      1
Senior HR Specialist               1
Director of HR                     1
Junior Financial Advisor           1
Name: count, Length: 174, dtype: int64

In [46]:
df['Education Level'].value_counts()  
# This will count the occurrences of each unique education level in the 'Education Level' column.

Education Level
Bachelor's    224
Master's       98
PhD            51
Name: count, dtype: int64

In [47]:
df_edited = df.groupby('Job Title').filter(lambda x: len(x) > 4)
# This will filter the DataFrame to include only job titles that have more than 4 occurrences.

df_edited.info()
# Display the information about the filtered DataFrame, including the number of entries and data types.

df_edited['Job Title'].value_counts()
# This will count the occurrences of each unique job title in the filtered DataFrame.

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 47 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  147 non-null    float64
 1   Gender               147 non-null    object
 2   Education Level      147 non-null    object
 3   Job Title            147 non-null    object
 4   Years of Experience  147 non-null    float64
 5   Salary               147 non-null    float64
dtypes: float64(3), object(3)
memory usage: 8.0+ KB

Job Title
Director of Marketing                    12
Director of Operations                   11
Senior Business Analyst                  10
Senior Marketing Manager                  9
Senior Marketing Analyst                  9
Junior Business Analyst                   8
Senior Project Manager                    7
Senior Data Scientist                     7
Senior Financial Analyst                  7
Junior Business Development Associate     7
Junior Financial Analyst                  7
Senior Software Engineer                  6
Senior Product Manager                    6
Junior Marketing Coordinator              6
Senior Project Coordinator                5
Junior Operations Analyst                 5
Junior Marketing Specialist               5
Senior Product Designer                   5
Junior Project Manager                    5
Senior Operations Manager                 5
Senior Financial Manager                  5
Name: count, dtype: int64

In [48]:
df_edited['Job Title'] = df_edited['Job Title'].astype('category')
# This will convert the 'Job Title' column to a categorical data type.

In [49]:
df_edited['Job Title Encoded'] = df_edited['Job Title'].cat.codes
# This will create a new column 'Job Title Encoded' with the encoded values of the 'Job Title' column.

df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20

In [50]:
df_edited.dtypes
# This will show the data types of each column in the filtered DataFrame after encoding the 'Job Title'.

Age                     float64
Gender                   object
Education Level          object
Job Title              category
Years of Experience     float64
Salary                  float64
Job Title Encoded          int8
dtype: object

In [51]:
df_edited['Education Level'] = df_edited['Education Level'].astype('category')
# This will convert the 'Education Level' column to a categorical data type.

In [52]:
df_edited.dtypes
# This will show the data types of each column in the filtered DataFrame after converting 'Education Level'.

Age                     float64
Gender                   object
Education Level        category
Job Title              category
Years of Experience     float64
Salary                  float64
Job Title Encoded          int8
dtype: object

In [53]:
df_edited['Education Level Encoded'] = df_edited['Education Level'].cat.codes
# This will create a new column 'Education Level Encoded' with the encoded values of the 'Education Level' column.

df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded,Education Level Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0,1
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1,1
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10,2
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11,1
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20,1

In [54]:
df_edited['Gender'] = df_edited['Gender'].astype('category')
# This will convert the column 'Gender' to a categorical data type.

In [55]:
df_edited['Gender Encoded'] = df_edited['Gender'].cat.codes
# This will create a new column 'Gender Encoded' with the encoded values of the 'Gender' column.

df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded,Education Level Encoded,Gender Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0,1,0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1,1,0
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10,2,1
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11,1,0
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20,1,1

In [56]:
df_final = df_edited.drop(['Gender', 'Education Level', 'Job Title'], axis = 1)
# This will drop the original columns 'Gender', 'Education Level', and 'Job Title' from the DataFrame.

df_final.head()

,Age,Years of Experience,Salary,Job Title Encoded,Education Level Encoded,Gender Encoded
47,45.0,16.0,180000.0,0,1,0
60,51.0,23.0,170000.0,1,1,0
63,47.0,21.0,180000.0,10,2,1
69,49.0,18.0,150000.0,11,1,0
77,32.0,6.0,100000.0,20,1,1

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 47 to 374
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      147 non-null    float64
 1   Years of Experience      147 non-null    float64
 2   Salary                   147 non-null    float64
 3   Job Title Encoded        147 non-null    int8
 4   Education Level Encoded  147 non-null    int8
 5   Gender Encoded           147 non-null    int8
dtypes: float64(3), int8(3)
memory usage: 5.0 KB

In [58]:
import numpy as np # Importing numpy for numerical operations.
import pickle # Importing pickle for saving the DataFrame to a file.
from sklearn.model_selection import train_test_split # Importing train_test_split for splitting the DataFrame into training and testing sets.
from sklearn.linear_model import LinearRegression # Importing LinearRegression for building a linear regression model.
from sklearn.metrics import mean_squared_error # Importing metrics for evaluating the model.

In [59]:
x = df_final.iloc[:,[0, 1, 2, 3, 4, 5]]
# This will select all rows and the specified columns from the DataFrame for features.

y = df_final.iloc[:, 2]
# This will select all rows and the specified column from the DataFrame for the target variable.

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
# This will split the DataFrame into training and testing sets, with 20% of the data used for testing.

In [61]:
x_train.head()
# Display the first few rows of the training set features.

,Age,Years of Experience,Salary,Job Title Encoded,Education Level Encoded,Gender Encoded
331,40.0,12.0,130000.0,11,0,1
273,47.0,20.0,180000.0,0,1,0
335,47.0,19.0,170000.0,1,1,1
262,46.0,18.0,160000.0,10,2,1
277,34.0,5.0,70000.0,4,0,0

In [62]:
y_train.head()
# Display the first few rows of the training set target variable.

331    130000.0
273    180000.0
335    170000.0
262    160000.0
277     70000.0
Name: Salary, dtype: float64

In [63]:
reg = LinearRegression()
# This will create an instance of the LinearRegression model.

reg.fit(x_train, y_train)
# This will fit the linear regression model to the training data.

LinearRegression()

In [64]:
y_pred = reg.predict(x_test)
# This will use the fitted model to make predictions on the test set.

In [65]:
err = np.sqrt(mean_squared_error(y_test, y_pred))
# This will calculate the root mean squared error of the predictions compared to the actual values.

In [66]:
y_pred, y_test

(array([ 40000., 130000.,  85000.,  95000., 140000.,  40000.,  35000.,
        110000., 150000., 120000., 170000., 130000.,  40000.,  50000.,
        120000.,  85000.,  60000., 100000., 100000.,  50000., 180000.,
         40000.,  40000., 180000.,  60000., 150000., 100000.,  40000.,
        180000.,  85000.]),
 292     40000.0
 214    130000.0
 254     85000.0
 281     95000.0
 234    140000.0
 241     40000.0
 165     35000.0
 264    110000.0
 252    150000.0
 261    120000.0
 341    170000.0
 355    130000.0
 274     40000.0
 263     50000.0
 242    120000.0
 314     85000.0
 286     60000.0
 77     100000.0
 325    100000.0
 342     50000.0
 353    180000.0
 209     40000.0
 360     40000.0
 306    180000.0
 369     60000.0
 362    150000.0
 311    100000.0
 372     40000.0
 63     180000.0
 346     85000.0
 Name: Salary, dtype: float64)

In [67]:
err

np.float64(1.732024351693411e-11)

In [68]:
print(pd.DataFrame(zip(x.columns, reg.coef_)))
# This will create a DataFrame showing the coefficients of the features in the linear regression model.

print(reg.intercept_)
# This will print the intercept of the linear regression model.

                         0             1
0                      Age -6.828471e-12
1      Years of Experience  3.219314e-12
2                   Salary  1.000000e+00
3        Job Title Encoded -9.264468e-14
4  Education Level Encoded -8.526523e-13
5           Gender Encoded -8.985032e-13
1.8917489796876907e-10

In [71]:

import os
os.chdir("C:/Users/kayce/blank-app")
print(os.getcwd())
pickle.dump(reg, open('model.pkl', 'wb'))
# This will save the trained linear regression model to a file named 'model.pkl'.

C:\Users\kayce\blank-app